@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply font-sans;
  }

  h1,
  h2,
  h3 {
    @apply font-bold;
  }

  h4,
  h5,
  h6 {
    @apply font-medium;
  }
  h1 {
    @apply text-lg;
  }
}

@layer components {

  .input {
    @apply rounded-lg border-transparent flex-1 appearance-none focus:border border-gray-200 shadow-[0_0_4px_gray] hover:shadow-[0_0_7px_gray] w-full py-2 px-4 bg-gray-950 text-gray-400 placeholder-gray-800 text-base transition duration-200;
  }
  .page-container {
    @apply flex flex-col-reverse lg:flex-row  w-full h-full max-w-6xl mx-auto p-2 rounded-lg;
  }
}
